<div class="dashboard">
    <div class="pathDiv">
        <div class="path">
            <a routerLink="/">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div *ngFor="let path of paths">
            <span>/ </span>
            <a [routerLink]="path.link" class="detail">{{ path.path }}</a>
        </div>
    </div>

    <div class="data">
        <div class="folders-container">
            <h2>My unit</h2>
            <div class="folders">
                <div class="folder" *ngFor="let folder of data.content.directories">
                    <div (click)="navigateFolder(folder)" class="folder-name" data-toggle="tooltip" data-placement="bottom" title="{{ folder }}">
                        <span class="icon">
                            <i class="fas fa-folder"></i>
                        </span>
                        <p class="name">{{ folder }}</p>
                    </div>
                    <app-actions path="{{ folder }}"></app-actions>
                </div>
            </div>
        </div>
    
        <div class="files-container">
            <!-- <h2>Files</h2> -->
            <div class="files">
                <div class="file" *ngFor="let file of data.content.files">
                    <div class="file-name" (click)="detailFile(file)" data-toggle="tooltip" data-placement="bottom" title="{{ file }}">
                        <span class="icon">
                            <i class="fas {{ getIcon(file) }}"></i>
                        </span>
                        <p class="name">{{ file }}</p>
                    </div>
                    <app-actions path="{{ file }}"></app-actions>
                </div>
            </div>
        </div>
    </div>

    <div class="empty" *ngIf="data.content.directories.length < 1 && data.content.files.length < 1 && !loading">
        <div class="empty" *ngIf="data.path">
            This folder is empty
        </div>
        <div class="empty" *ngIf="data.path == ''">
            Your drive is empty
        </div>
    </div>

    <app-loading [showEvent]="maskLoad"></app-loading>
</div>